$clr-white: rgb(255, 255, 255);
$clr-dark-white: rgba(240, 240, 240, 0.712);
$clr-light-grey: rgb(207, 207, 207);
$clr-medium-grey: rgb(61, 61, 61);
$clr-light-blue:rgb(230, 233, 252);
$clr-dark-blue: rgb(14, 0, 54);
$clr-orange: rgb(221, 118, 1);
