h1, h2, h3{
    text-align: center;
}

h1{
    color: $clr-white;
    text-align: left
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0
}

p{
    color:$clr-medium-grey;
    font-size: 0.8rem;
}